services:
  api:
    build:
      context: ./back
      dockerfile: Dockerfile
    container_name: ${PROJECT_NAME}-api
    ports:
      - "3001:3001"
      - "5555:5555"
    volumes:
      - ./back:/app
    user: "${UID}:${GID}"
    depends_on:
      database:
        condition: service_healthy
      database-test:
        condition: service_healthy
    environment:
      - NODE_ENV=development
  web:
    build:
      context: ./front
      dockerfile: Dockerfile
    container_name: ${PROJECT_NAME}-web
    ports:
      - "3000:3000"
    volumes:
      - ./front:/app
    user: "${UID}:${GID}"
    depends_on:
      - api
    environment:
      - NODE_ENV=development

  database:
    image: postgres:latest
    container_name: ${PROJECT_NAME}-postgres
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${PROJECT_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 3s
      retries: 30

  database-test:
    image: postgres:latest
    container_name: ${PROJECT_NAME}-postgres-test
    volumes:
      - db_data_test:/var/lib/postgresql
    ports:
      - "3307:5432"
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=BabyFootClementine-test
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 3s
      retries: 30

volumes:
  db_data:
    name: ${PROJECT_NAME}-postgres-data
  db_data_test:
    name: ${PROJECT_NAME}-postgres-test-data
